<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/islogomipmap"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MailViewNotification"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_mail_view_notification"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.ChatResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_chat_result"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.ChatTeacherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_chat_teacher"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.ChatStudentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_chat_student"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.SearchStudentForChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_search_student_for_chat"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.ChatActivateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_chat_activate"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".activity.SearchTeacher"
            android:exported="false" />
        <activity
            android:name=".activity.AdminProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManageSession"
            android:exported="false" />
        <activity
            android:name=".activity.ChatSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WatchChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.S"
            android:exported="false" />
        <activity
            android:name=".activity.ChatWithTeacher"
            android:exported="false" />
        <activity
            android:name=".activity.ChatWithStudent"
            android:exported="false" />
        <activity
            android:name=".activity.AddPaymentActivitySearch"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="ProfileViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NotificationViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_notification_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.Fullscreen" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ForgetActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_forget"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SplashPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".common.DeviceAdminReceiver"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>